<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#meta est utilisé pour donner des directives aux moteurs de recherche
    La valeur index permet à la page d'être indexée et la valeur follow permet aux liens d'être suivis par les robots
    et de transmettre de la popularité.#}
    <meta name="robots" content="index, follow">
    <title>Anne Lamour Patisserie</title>



    <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    <link rel="icon" href="{{ asset('assets/icon/favicon_512.png') }}" />

</head>

{#//______________________________________________________________________________________________________________________
//BODY START#}
<body>

{#//_____________________________________________________________________________________________________HEADER USER START#}

{#//Mon header fait parti d'un fichier partiel ce qui me permettra de l'appeler sur chacune de mes pages grâce à 'extends'#}
<header>
    <div  class="header3">
        <div class="logo1">
            <a href="{{ path ('home') }}">
                <img src="{{ asset('assets/logo/logo_1000.svg') }}" alt="logo Anne Lamour Patisserie">
            </a>
        </div>

        <div class="menu">

            <div><a href="{{ path ('home') }}"> HOME </a></div>

            <div><a href="{{ path ('productsByCategorie', {'categorie': 'patisserie'}) }}"> PATISSERIES </a></div>

            <div><a href="{{ path ('productsByCategorie', {'categorie': 'chocolat'}) }}"> CHOCOLATS </a></div>

            <div><a href="{{ path ('productsByCategorie', {'categorie': 'glace'}) }}"> GLACES </a></div>

            {#<div><a href="{{ path ('productsByCategorie', {'categorie': 'atelier'}) }}"> ATELIERS </a></div>#}

            <div><a href="{{ path ('ateliersByCategorie') }}"> ATELIERS </a></div>


        </div>
    </div>


    <div  class="header4">
        <a href="{{ path ('home') }}">
            <div class="logo2"><img src="{{ asset('assets/logo/logo_w_1000.svg') }}" alt="logo Anne Lamour Patisserie"></div>
        </a>
    </div>
    <div class="bloc_white"></div>



</header>
{#//--------------------------------------------------------------------------------------------------------HEADER USER END#}

{#//____________________________________________________________________________________________________________MAIN START#}

<main class="main">
    {# //Je mets en place le 'block content' qui me permettra de placer mes éléments
     //que je souhaite voir modifier à travers mon site web seule cette partie sera différente#}
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <div class="sidebar">
        <ul>
            <li><a href="{{ path ('home') }}"> HOME </a></li>
            <br>
            <li><a href="{{ path ('productsByCategorie', {'categorie': 'patisserie'}) }}"> PATISSERIES </a></li>
            <br>
            <li><a href="{{ path ('productsByCategorie', {'categorie': 'chocolat'}) }}"> CHOCOLATS </a></li>
            <br>
            <li><a href="{{ path ('productsByCategorie', {'categorie': 'glace'}) }}"> GLACES </a></li>
            <br>
            <div><a href="{{ path ('ateliersByCategorie', {'categorie': 'atelier'}) }}"> ATELIERS </a></div>
            <br>
            {#  <li><a href="{{ path ('contact') }}"> CONTACT </a></li>#}
        </ul>
     </div>
    {#j'intègre un icon arrowtop qui va me permettre de remonter vers le haut de ma page
    son action sera généré depuis mon fichier.js#}
    <div class="top"><img src="{{ asset('assets/icon/arrow_top.svg') }}" alt="icon arrow-top"></div>

</main>

{#//----------------------------------------------------------------------------------------------------------MAIN END#}

{#//______________________________________________________________________________________________________FOOTER START#}

{#//je mets en place le footer, celui ci fait parti du fichier partiel => présent sur toutes mes vues#}
<footer class="footer">

    <div class="foot">
        {#//je mets en place les 3 sections#}
        <div class="img_foot"><img src="{{ asset('assets/icon/contact.svg') }}" alt="contact"></div>

        <div class="img_foot">
            <a href="{{ path ('cgv') }}">
                <img src="{{ asset('assets/icon/cgv.svg') }}" alt="conditions générales de vente">
            </a>
        </div>
        <div class="img_foot"><img src="{{ asset('assets/icon/instagram.svg')}}" alt="instagram"></div>
    </div>

</footer>
{#//------------------------------------------------------------------------------------------------------------FOOTER END#}
{#<!--Je charge la bibliotheque jQuery avec un CDN-->#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{#<!--Je charge mon fichier JS qui va utiliser jQuery
(donc je le charge après jQuery)-->#}
<script src={{ asset('assets/js/menu.js') }}></script>
</body>
{#//______________________________________________________________________________________________________________________
//BODY END#}
</html>
