<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anne Lamour Patisserie</title>


    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">
    {#-> Je crée un css => style_admin.css qui sera propre à l'administrateur#}

    <link rel="icon" href="{{ asset('assets/icon/favicon_512.png') }}" />

    {#bootstrap#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {#-> Je crée un css => style_admin.css qui sera propre à l'administrateur#}
    <link rel="stylesheet" href="{{ asset ('css/admin/styleAdmin.css') }}">

</head>

{#//____________________________________________________________________________________________________________________
//BODY START#}
<body>

{#//______________________________________________________________________________________________________HEADER START#}

{#//Mon header fait parti d'un fichier partiel ce qui me permettra de l'appeler sur chacune de mes pages grâce à 'extends'#}
<header class="header">

        <div class="logoAdmin">
            <a href="{{ path ('homeAdmin') }}">
                <img src="{{ asset('assets/logo/logo_w_1000.svg') }}" alt="logo Anne Lamour Patisserie">
            </a>
        </div>
       {# <div class="burger"><img src="{{ asset('assets/icon/burger_1000.png') }}" alt="menu burger"></div>#}
</header>
{#//--------------------------------------------------------------------------------------------------------HEADER END#}

{#//________________________________________________________________________________________________________MAIN START#}

<main class="mainAdmin">
   {#-> Je mets en place la fonction 'block content' qui me permettra de placer mes éléments dans mon fichier twig#}
    {#Seule la partie présente entre le block sera modifiée sur les vues de mon site#}

        {% block content %}
        {% endblock %}

    <div class="top_admin"><img src="{{ asset('assets/icon/arrow_top.svg') }}" alt="icon arrow-top"></div>

</main>
{#//----------------------------------------------------------------------------------------------------------MAIN END#}

{#//______________________________________________________________________________________________________FOOTER START#}

{#-> je mets en place le footer, celui-ci fait parti du fichier partiel => présent sur toutes les vues#}
<footer class="footer">

    <div class="foot">
        <div class="text_foot">
            <p class="foot_line">De toutes les passions, la seule vraiment respectable me parait être la gourmandise !</p>
            <p class="foot_sign">Guy De Maupassant</p>
        </div>
    </div>

</footer>
{#//--------------------------------------------------------------------------------------------------------FOOTER END#}
    <!--Je charge la bibliotheque jQuery avec un CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Je charge mon fichier .JS qui va utiliser jQuery
    (donc je le charge après jQuery)-->
    <script src={{ asset('assets/js/menu.js') }}></script>
</body>
{#//__________________________________________________________________________________________________________BODY END#}
</html>
