{#-> l'instruction 'extends' me permet d'appeler le fichier de base
-> qui se situe dans le dossier baseAdmin de ma section templates
-> ce fichier regroupe le 'header' et le 'footer' présent sur toutes les pages de mon site#}
{% extends 'baseAdmin/base_admin.html.twig' %}

    {# j'intègre le contenu de ma page dans la fonction 'block' et le 'endblock'
        ce contenu sera présent que sur ma page homeAdmin.html.twig#}
     {% block content %}

     <div class="section_admin">
                {#-> Je crée une div qui contient les liens qui me renverront directement sur les pages liées
                    afin d'insérer / modifier / supprimer les produits présents dans ma BDD#}
                {#-> la fonction PATH me permet de passer un paramètre#}
                {#-> je passe en paramètre le nom de ma route présente dans mon controller#}

 {#_____________________________________________________________________________________________________________________
 _________________________________________________line #1_____________________________________________________________#}

             <div class="insert">
                 <img src= "{{asset('assets/icon/icon_add_100.svg') }}" alt="icon insert product">
                 {#<img src="assets/icon/icon_add_100.svg" alt="icon insert product">#}
                 <a href="{{ path('InsertProduct') }}" >Ajouter un nouveau produit <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

             <div class="insert">
                 <img src="{{ asset('assets/icon/icon_update_100.svg') }}" alt="icon update product">
                 <a href="{{ path('ListProducts',{'action':'update'}) }}" >Modifier un produit <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

             <div class="insert">
                 <img src="{{ asset('assets/icon/icon_delete_100.svg') }}" alt="icon delete product">
                 <a href="{{ path('ListProducts',{'action':'delete'}) }}" >Supprimer un produit <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

 {#_____________________________________________________________________________________________________________________
 _________________________________________________line #2_____________________________________________________________#}

             <div class="insert">
                 <img src="{{ asset('assets/icon/icon_atelier_100_CS.svg') }}" alt="icon atelier">
                 <a {#href="{{ path('Ateliers') }}"#} >Ajouter un atelier <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

             <div class="insert">
                 <img src="{{ asset('assets/icon/icon_update_atelier_100_CS.svg') }}" alt="icon atelier">
                 <a {#href="{{ path('Ateliers',{'action':'update'}) }}"#} >Modifier un atelier <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

             <div class="insert">
                 <img src="{{ asset('assets/icon/icon_delete_atelier_100_CS.svg') }}" alt="icon atelier">
                 <a {#href="{{ path('Ateliers',{'action':'delete'}) }}" #}>Supprimer un atelier <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

 {#_____________________________________________________________________________________________________________________
 _________________________________________________line #3_____________________________________________________________#}

         <div class="insert">
                 <img src="{{ asset('assets/icon/icon_visuels_100_CS.svg') }}" alt="icon modification des visuels">
                 <a {#href="{{ path('ListProducts',{'action':'update'}) }}"#} >Modifier les visuels <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

             <div class="insert">
                 <img src="{{ asset('assets/icon/icon_CGV_100_CS.svg') }}" alt="icon CGV">
                 <a {#href="{{ path('ListProducts',{'action':'update'}) }}"#} >Modifier les CGV <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

             <div class="insert">
                 <img src="{{ asset('assets/icon/icon_reseaux_100_CS.svg') }}" alt="icon reseaux">
                 <a {#href="{{ path('ListProducts',{'action':'update'}) }}"#} >Modifier les reseaux sociaux <br>
                     <img src="{{ asset('assets/icon/icon_clic_100.svg') }}" alt="icon clic">
                 </a>
             </div>

 {#_____________________________________________________________________________________________________________________
 _________________________________________________END LINE____________________________________________________________#}

     </div>

     {% endblock %}