{#la … extends me permets d'appeler le fichier partiel qui regroupe le 'header' et 'footer' présent sur toutes les pages de mon site#}
{% extends 'baseUser/base.html.twig' %}

    {# j'intègre le contenu de ma page entre le 'block' et le 'endblock'#}
     {% block content %}

         {#message flash / ce message s'affiche seulement si l'action est validée#}
         {% if app.flashes %}
             <div class="content_modal">
                 <div class="modal">
                     <p> Votre message a bien été envoyé, merci ! Nous y répondrons dès que possible.</p>
                 </div>
             </div>

         {% endif %}

        <section>
           <div class="slide">
               <p class="text_slide">Bienvenu à tous les gourmands qui ici,
                   <br>découvrirons ou redécouvrirons les plaisirs simples de pâtisseries
                   <br> élaborées à partir de produits frais et plein de saveurs.
                   <br>
                   <br>Des associations innovantes aux mélanges
                   <br>de textures, uniques et originales!
               <div class="img_home_ml">
                   <img src="{{ asset('assets/img/slide_1_home.jpg') }}" alt="slide1_home"/>
               </div>
               <div class="img_home_ms">
                   <img src="{{ asset('assets/img/slide_1_home_ms.jpg') }}" alt="home smartphone"/>
               </div>
           </div>
        </section>

         {#section mise en avant de produits de saison#}
         <section>
             <div class="slide_products_saison">
                 <div>
                     <div class="text_slide_products_saison">
                         <p>
                             Commandez vite vos chocolats,
                             <br>après il n'y en aura plus !
                         </p>
                         <p class="btn_products_saison">
                            <a href="{{ path ('productsByCategorie', {'categorie': 'chocolats'}) }}">
                             C'est par ici…
                            </a>
                         </p>
                     </div>
                     {#___________________________________________________________________PARTIE SMARTPHONE#}
                     <div class="text_slide_products_saison_ms">
                         <p>
                             {#Commandez#}
                             <br>vite vos chocolats,
                             <br>après il n'y en aura plus !
                         </p>
                         <p class="btn_products_saison_ms">
                             <a href="{{ path ('productsByCategorie', {'categorie': 'chocolats'}) }}">
                                 C'est par ici…
                             </a>
                         </p>
                    </div>
                     {#___________________________________________________________________PARTIE SMARTPHONE#}
             </div>

                 <div class="img_home_ml">
                 <img src="{{ asset('assets/img/petit_dernier_1.jpg') }}" alt="Photo des produits de saison"/>
                 </div>

                 {#___________________________________________________________________PARTIE SMARTPHONE#}
                 <div class="img_home_ms">
                     <img src="{{ asset('assets/img/slide_2_home_ms.jpg') }}" alt="Photo des produits de saison"/>
                 </div>

             </div>
         </section>

        <section>
               <div class="portrait">
                   <p class="text_portrait">
                       Passionnée par la pâtisserie depuis l’enfance,<br>
                       sans doute transmise par ma grand-mère <br>
                       qui m’a très tôt initié à cet art exigeant,<br>
                       j’ai cependant poursuivi mes études et travaillé <br>
                       dans les ressources humaines durant près de 15 ans.<br>
                       Je continuais pourtant à pâtisser chaque fois <br>
                       que l’occasion se présentait, <br>
                       cherchant de nouvelles associations de saveurs, <br>
                       de nouvelles textures intéressantes.<br>
                       Il fallait que je me rende à l’évidence : <br>
                       faire de ma passion mon métier. <br>
                       En 2018 le diplôme en poche<br>
                       je lance mon entreprise de pâtisseries : <br>
                       Anne Lamour Pâtisserie.
                   </p>
                   <p class="text_portrait_ms">
                       par la pâtisserie depuis l’enfance,
                       sans doute transmise par ma grand-mère
                       qui m’a très tôt initié à cet art exigeant,
                       j’ai cependant poursuivi mes études et travaillé
                       dans les ressources humaines durant près de 15 ans.
                       Je continuais pourtant à pâtisser chaque fois
                       que l’occasion se présentait,
                       cherchant de nouvelles associations de saveurs,
                       de nouvelles textures intéressantes.
                       Il fallait que je me rende à l’évidence :
                       faire de ma passion mon métier.
                       En 2018 le diplôme en poche
                       je lance mon entreprise de pâtisseries :
                       Anne Lamour Pâtisserie.
                   </p>
                   <div class="img_home_ml">
                       <img src="{{ asset('assets/img/portrait_1.jpg') }}" alt="portrait de la chef"/>
                   </div>
                   <div class="img_home_ms">
                       <img src="{{ asset('assets/img/slide_3_home_ms.jpg') }}" alt="portrait de la chef"/>
                   </div>

              </div>
        </section>

          {#<section>
          <div class="iframe">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2833.015011005088!2d-1.0872326492506779!3d44.76010858806513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a36f97dafe29%3A0x8961c2ccb362f1a2!2sRue+Colette+Besson%2C+33510+Andernos-les-Bains!5e0!3m2!1sfr!2sfr!4v1563737716737!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          </section>#}

     {% endblock %}












